<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href='https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap' rel="stylesheet">
    <link href= "https://cdnjs.cloudﬂare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel = "stylesheet" />
    <link href="/css/styles.css" rel="stylesheet" >
</head>
<body>
    <header>
        
        <img src="/images/logo-mercado-liebre.svg" alt="logo" width="60%">

            <p> </p>
        
            <div class="navegacion"> 
                Búsqueda: <input type="search" name="Busquedaproductos" placeholder="Buscar productos, marcas" >
                <input type="submit" value="Buscar" >
            </div>

            <p> </p>

                <div class="cuota"> <i class="fas fa-hand-holding-usd"></i> Comprá en cuotas y sin tarjeta de crédito </div>
                        
                <div class="navegacion2">   <ul>
                            <li><a href style="text-decoration: none"> Ofertas </a></li>
                            <li><a href style="text-decoration: none"> Tiendas Oficiales </a></li>
                            <li><a href style="text-decoration: none"> Vender </a></li>
                            <li><a href style="text-decoration: none"> Ayuda </a></li>
                        </ul>

                        <ul>
                            <li><a href="./register" style="text-decoration: none"> Creá tu cuenta </a> <i class="far fa-address-card"></i> </li>
                            <li><a href="/login" style="text-decoration: none"> Ingresá </a> <i class="fas fa-sign-in-alt"></i> </li>
                            <li><a href style="text-decoration: none"> Mis Compras </a> <i class="fas fa-shopping-basket"></i> </li>
                        
                        </ul>
                </div>
          

                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div><br>

                <div class="banner">
                    <img src="/images/img-home-banner.jpg" alt="banner"  width= 100%>
                </div>
                   
    </header>

    <main>
    
        <div class="titulares"> Sección: Basado en tu última visita </div>
        
            <div class="caja">
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg" alt=""  width="70%">
                    
                    <div class="envio"> <i class="fas fa-truck"></i> </div>
                    <div class="precios"> $6.770 </div>
                    <div class="descuentos"> 40% OFF </div><br>
                    <div class="descripcion"> Cafetera Moulinex </div>

                </article>
            </div>

            <div class="caja">
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" alt=""  width="70%">

                    <div class="envio"> <i class="fas fa-truck"></i> </div>
                    <div class="precios"> $230.000 </div>
                    <div class="descuentos"> 20% OFF </div><br>
                    <div class="descripcion"> MackBook Pro 2019 </div>

                </article>
            </div>

            <div class="caja">
                <article class="articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt=""  width="70%">

                    <div class="envio"> <i class="fas fa-truck"></i> </div>
                    <div class="precios"> $70.500 </div>
                    <div class="descuentos"> 10% OFF </div><br>
                    <div class="descripcion"> Samsung Galaxy S10 </div>

                </article>
            </div>

            <div class="caja">
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg" alt=""  width="70%">

                    <div class="envio"> <i class="fas fa-truck"></i> </div>
                    <div class="precios"> $23.770 </div>
                    <div class="descuentos"> 5% OFF </div><br>
                    <div class="descripcion"> SmartTv Samsung 43" </div>

                </article>
            </div>



        <div class="titulares"> Sección de Ofertas </div>

            <div class="caja">
                <article class="articulo">
                    <img src="/images/img-cafetera-moulinex.jpg" alt=""  width="70%">
                    
                    <div class="envio"> <i class="fas fa-truck"></i> </div>
                    <div class="precios"> $6.770 </div>
                    <div class="descuentos"> 40% OFF </div><br>
                    <div class="descripcion"> Cafetera Moulinex </div>

                </article>
            </div>

            <div class="caja">
                <article class="articulo">
                    <img src="/images/img-macbook-pro-2019.jpg" alt=""  width="70%">

                    <div class="envio"> <i class="fas fa-truck"></i> </div>
                    <div class="precios"> $230.000 </div>
                    <div class="descuentos"> 20% OFF </div><br>
                    <div class="descripcion"> MackBook Pro 2019 </div>

                </article>
            </div>

            <div class="caja">
                <article class="articulo">
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt=""  width="70%">

                    <div class="envio"> <i class="fas fa-truck"></i> </div>
                    <div class="precios"> $70.500 </div>
                    <div class="descuentos"> 10% OFF </div><br>
                    <div class="descripcion"> Samsung Galaxy S10 </div>

                </article>
            </div>

            <div class="caja">
                <article class="articulo">
                    <img src="/images/img-tv-samsung-smart.jpg" alt=""  width="70%">

                    <br><div class="envio"> <i class="fas fa-truck"></i> </div>
                    <div class="precios"> $23.770 </div>
                    <div class="descuentos"> 5% OFF </div><br>
                    <div class="descripcion"> SmartTv Samsung 43" </div>

                </article>
            </div>
                
    </main>
    

    <footer>

        <div class="pieDePagina">
 
            <div class="icon"><i class="fas fa-credit-card"></i> </div>
                    <p><b> Pagá con tarjeta o en efectivo </b></p>
                    <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro! </p>
                    
            <div class="icon"> <i class="fas fa-gift"></i> </div>
                    <p><b> Envío gratis desde $2.500 </b></p>
                    <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>

            <div class="icon"> <i class="fas fa-user-shield"></i> </div>

                    <p><b> Seguridad, de principio a fin </b></p>
                    <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
                        <br><br>
            <div class="copyright"> Copyright © 1999-2020 MercadoLiebre S.R.L. </div><br>
        
        </div>
         
    </footer>


</body>
</html>